.experiance__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experiance__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experiance__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experiance__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experiance__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experiance__details {
  display: flex;
  gap: 1rem;
}

.experiance__details-icon {
  margin: 6px;
  color: var(--color-primary);
}

/*++++++++++++++++++++++(MEDIUM DEVICES)+++++++++++++++++++*/

@media screen and (max-width: 1024px) {
  .experiance__container {
    grid-template-columns: 1fr;
  }

  .experiance__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experiance__content {
    padding: 1rem;
  }
}

/*++++++++++++++++++++++(SMALL DEVICES)+++++++++++++++++++*/

@media screen and (max-width: 600px) {
	.experiance__container {
		gap: 1rem;
	 }

	 .experiance__container > div {
		width: 100%;
		padding: 2rem 1rem;
		margin: 0 auto;
	 }
}
